@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

body {
  color: #0f0f0f;
  background-color: #a2bcf5;
}

.main,
.header,
.footer {
  padding: 1em;
}

.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #000;
  width: 100vw;
}

.header_position {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #000;
}

.header__title-bar {
  flex-grow: 1;
  text-align: left;
}

.header__title-bar h1 {
  font-size: 2em;
}

.header__tracker {
  flex-grow: 1;
  text-align: right;
  font-weight: 600;
}

.navbar{
  text-align: right;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
  font-size: 1.3em;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

main{
  width: 100vw;
  height: 90vh;
}

.footer {
  display: flex;
  align-items: end;
  background-color: #fff;
  font-size: 1.2em;
  height: auto;
  width: 100vw;
}

/* :root{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #a2bcf5;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
